doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='theme-color', content='#f6f6f6')

    title.
      Chart
    link(rel='stylesheet', href='css/all.css')
  body

    main
      - for (var i = 0; i < 5; ++i) {
        section.app
          header
            h4.
              Followers
          canvas.main-canvas
          div.legend-cont
            div.glass.glass-left
            div.grip.grip-left
            div.window
            div.grip.grip-right
            div.glass.glass-right
            canvas.legend-canvas

          div.button-cont
      - }
        button.day-night-switch.
          Switch to Night Mode

    footer
      span.credits.
        * Check Mark by Numero Uno from the Noun Project

    script(src='./target/output-compiled-ui.js')
